*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: 'Oswald', sans-serif;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background-image: url("images/bg-desktop.jpg");
    background-size:cover;
    background-position:center;
}

/* Mobile background */
@media (max-width:768px){
    body{
        background-image:url("images/bg-mobile.jpg");
    }
}

.container{

    text-align:center;

    backdrop-filter: blur(10px);

    background: rgba(0,0,0,0.4);

    padding:40px;

    border-radius:20px;

    width:90%;
    max-width:400px;
}

/* Avatar */

.avatar{
    width:140px;
    height:140px;

    margin:auto;

    border-radius:50%;

    overflow:hidden;

    border:4px solid white;
}

.avatar img{
    width:100%;
    height:100%;
    object-fit:cover;
}

/* Name */

.name{
    color:white;
    margin-top:15px;
    margin-bottom:30px;
}

/* Social list */

.social-list{
    display:flex;
    flex-direction:column;
    gap:15px;
}

/* Social item */

.social-item{

    display:flex;
    align-items:center;
    gap:15px;

    text-decoration:none;

    color:white;

    background:rgba(255,255,255,0.1);

    padding:12px;

    border-radius:10px;

    transition:0.3s;
}

.social-item:hover{
    background:rgba(255,255,255,0.25);
}

/* icon */

.social-item img{
    width:30px;
    height:30px;
}

/* youtube text */

.social-text{
    display:flex;
    flex-direction:column;
    text-align:left;
}

.social-text small{
    font-size:12px;
    opacity:0.8;
}